*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
    display: block;
}
button{
    background-color: transparent;
    cursor: pointer;
}
body{
    background-color: $neutral-100;
}